.card{
  margin: 1em auto;
  max-width: 18em;
  min-height: 3em;
  background: #F5C6BF;
  background: linear-gradient(90deg, 
                            #F5C6BF 0%, 
                            #F49F98 100%);
  filter: drop-shadow(-5px 5px 5px #3c3b7344);
  border-radius:15px;
  transition: transform .2s;
  /*cursor: pointer;*/
}

.card:hover{
  transform: scale(1.05);
}

.event-name{
  padding: 1em 1em 0.7em 1em;
  margin: 0;
  font-weight: bold;
  font-size: 1.3em;
  color: #464786;
}

.activity-card{
  background: #F5C6BF;
  background: linear-gradient(90deg, 
                            #F5C6BF 0%, 
                            #F49F98 100%);
}

.vhHacks-card{
  background: #BEE2EA;
  background: linear-gradient(90deg, 
                            #c4e7f1 0%, 
                            #7ACDE7 100%);
}

.workshop-card{
  background: #debef8;
  background: linear-gradient(90deg, 
                            #debef8 0%, 
                            #c290eb 100%);
}

.eventcard-event-time{
  padding: 0 0 0.7em 1.5em;
  font-size: 0.9em;
  color: #6c6297;
}