.card{
  margin: 1em auto;
  max-width: 18em;
  min-height: 3em;
  background: #F5C6BF;
  background: linear-gradient(90deg, 
                            #F5C6BF 0%, 
                            #F49F98 100%);
  filter: drop-shadow(5px 5px 5px #3c3b7344);
  border-radius:15px;
  transition: transform .2s;
  cursor: pointer;
}

.card:hover{
  transform: scale(1.05);
}

.event-name{
  padding: 1em 1em 1.85em;
  margin: 0;
  font-weight: normal;
  color: #0C5E96;
}

.activity-card{
  background: #F5C6BF;
  background: linear-gradient(90deg, 
                            #F5C6BF 0%, 
                            #F49F98 100%);
}

.tech_talk-card{
  background: #BEE2EA;
  background: linear-gradient(90deg, 
                            #BEE2EA 0%, 
                            #7ACDE7 100%);
}

.workshop-card{
  background: #AFEAA6;
  background: linear-gradient(90deg, 
                            #AFEAA6 0%, 
                            #7ACDA9 100%);
}