h1{
  padding: 0px;
  margin: 0px;
}

.header-container{
  text-align: center;
  margin: 40px;
}

.logo-image{
  width: 100px;
  height: auto;
}

.subtitle{
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 0px;
  margin: 0px;
}