h3 {
  margin-block-start: 2em;
  font-weight: normal;
}

.inactive{
  display: none;
}

.sidebar{
  position: fixed;
  top: 0px;
  right: 0px;
  height: 90%;
  width: 300px;
  padding: 3em 3em 15em 3em;
  z-index: 99;
  overflow: scroll;
  background-color: #FFE8DE;
  filter: drop-shadow(-5px -5px 5px #3c3b732d);
}

.sidebar-event-name{
  letter-spacing: 0;
  font-size: 6vh;
  margin: 1em 0 0.5em;
}

.sidebar-event-date{
  font-weight: 500;
  font-size: 1.2em;
  margin: 0 0 .2em;
  color: #073d7a;
}

.sidebar-event-time{
  font-weight: normal;
  font-size: 1.2em;
  margin: 0 0 .5em;
  color: #0C5E96;
}

.back-arrow-image{
  cursor: pointer;
  max-width: 20px;
  height: auto;
}

.attend-button{
  color: #FFF6EE;
  text-align: center;
  font-size: 200%;
  width: 70%;
  line-height: 65px;
  background-color: #3C3B73;
  border-radius: 12px;
  margin: 0 auto;
  transition: transform .2s;
}

.description-body{
  font-family: Coves;
  font-weight: bold;
  color: #63628F;
}

.sidebar a {
  text-decoration: none;
  width:100%;
  display: inline-block;
}



.attend-button:hover{
  transform: scale(1.03);
}
