.sidebar-inactive{
  top: 0px;
  right: -600px;
  transition: all .2s linear;
}

.sidebar-active{
  top: 0px;
  right: 0px;
  transition: all .2s linear;
}

.sidebar{
  position: fixed;
  padding: 3em;
  z-index: 99;
  height: calc(100vh - 6em);
  width: 300px;
  overflow: auto;
  background-color: #FFE8DE;
  filter: drop-shadow(-5px -5px 5px #3c3b732d);
}

.sidebar-event-name{
  letter-spacing: 0;
  font-size: 2em;
  margin: 1em 0 0.5em;
}

.sidebar-event-date{
  font-weight: 500;
  font-size: 1.3em;
  font-style: italic;
  margin: 0 0 .2em;
  color: #073d7a;
}

.back-arrow-image{
  cursor: pointer;
  max-width: 20px;
  height: auto;
}

.description-body{
  font-family: Kollektif;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.4em;
  color: #63628F;
}

.attend-button{
  text-decoration: none;
  width: 100%;
  display: inline-block;
  color: #FFF6EE;
  text-align: center;
  font-size: 200%;
  width: 70%;
  line-height: 60px;
  background-color: #3C3B73;
  border-radius: 12px;
  margin: 1em auto;
  transition: transform .2s;
}

.attend-button:hover{
  transform: scale(1.03);
}

h3 {
  margin-block-start: 2em;
  margin-block-end: .2em;
  font-weight: bold;
  font-size: 1.3em;
}
