.horizontal-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 15px 0 0;
}

.speaker-pic{
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%;
  border: 2px solid #3c3b73;
}
.speaker-name{
  color:#0C5E96;
  font-size: 1.2em;
  margin: 0;
  padding: 0.6em 0 0 0;
}