.type-tag{
  display: inline-block;
  padding: .3em .7em;
  color:#FFFFFF;
  border-radius: 100px;
  background-color: #ED767A;
  font-weight: normal;
}

.main-page-tt{
  position: absolute;
  margin: 0.5em;
  right: 0px;
  bottom: 0px;
  letter-spacing: 0.5px;
  font-size: .7em;
}

.sidebar-tt{
  font-size: medium;
  padding: .3em 1.5em;
  margin: 0;
}

.activity{
  background-color: #ED767A;
}

.tech_talk{
  background-color: #44ACDB;
}

.workshop{
  background-color: #5ABCAA;
}