.card{
  margin: 0 auto;
 

  max-width: 18em;
  min-height: 3em;
  background: #F5C6BF;
  background: linear-gradient(90deg, 
                            #F5C6BF 0%, 
                            #F49F98 100%);
  filter: drop-shadow(5px 5px 5px #3c3b7344);
  border-radius:15px;
  
  transition: transform .2s;
  cursor: pointer;
}

.card:hover{
  transform: scale(1.05);
}

.event-name{
  padding: 1em 1em 1.7em;
  margin: 0;
  font-weight: normal;
  color: #0C5E96;
}