.inactive{
  display: none;
}

.sidebar{
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  min-width: 200px;
  padding: 3em;
  z-index: 99;

  background-color: #FFE8DE;
  filter: drop-shadow(-5px -5px 5px #3c3b732d);
}

.back-arrow-image{
  max-width: 50px;
  height: auto;
}

