@font-face {
  font-family: 'Somatic';
  src: local('Somatic-Rounded'), url(./fonts/Somatic-Rounded.otf) format('opentype');
}

@font-face {
  font-family: 'Coves';
  src: local('Coves-Light'), url(./fonts/Coves-Light.otf) format('opentype');
  font-weight: light;
}

@font-face {
  font-family: 'Coves';
  src: local('Coves-Bold'), url(./fonts/Coves-Bold.otf) format('opentype');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: Somatic;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4A4A6B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: Somatic;
  font-weight: normal;
}

.main-container{
  transition: all .3s linear;
  width: 100%;
}

.left-shift{
  width: 60%;
}