@font-face {
  font-family: 'Kollektif';
  src: local('Kollektif-Bold'), url(./fonts/Kollektif-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Kollektif';
  src: local('Kollektif-BoldItalic'), url(./fonts/Kollektif-BoldItalic.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Kollektif';
  src: local('Kollektif-Italic'), url(./fonts/Kollektif-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Kollektif';
  src: local('Kollektif'), url(./fonts/Kollektif.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Kollektif;
  font-weight: normal;
  color: #2a2a6e;
  background: #ebfffe;
  background: linear-gradient(180deg, 
                            #ebfffe 0%,
                            #6db7e9 50%, 
                            #4029a5 100%) no-repeat;
  background-size: cover;  
  height: 100%;    
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: Kollektif;
  font-weight: 800;
}

.main-container{
  transition: all .3s linear;
  width: 100%;
}

.left-shift{
  width: 60%;
}